<div class="rotator col-xs-12">
  <ul class="img-list">
    <li class="img-wrap">
      <img src="/{{assets}}/img/banner-placeholder.png" alt="banner" />
      <div class="caption">
        Caption Text here!
      </div>
    </li>
  </ul>
</div>
